@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="movie-page home-header">
    <h1>@ViewData["Title"]</h1>

    <p>Alex Kushner, theredwing@att.net</p>
    <p>Feel free to contact</p>
</div>
