@model MovieMVC.Models.ViewModels.MovieDetailsViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="movie-page home-header">
<h2>Are you sure you want to delete this movie?</h2>

<div>
    <partial name="_MovieDetails" model="Model.Movie" />
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" name="Id" value="@Model.Movie.Id" />
    <input type="hidden" name="sort" value="@Model.Sort" />
    <input type="hidden" name="desc" value="@Model.Desc" />
    <input type="hidden" name="search" value="@Model.Search" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a class="btn btn-secondary" href="/Home?sort=@Model.Sort&desc=@Model.Desc&search=@Model.Search">Cancel</a>
    </form>
