@model MovieMVC.Models.ViewModels.MovieDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="movie-page home-header">
<h2>@Model.Movie.Title</h2>

<div>
    <partial name="_MovieDetails" model="Model.Movie" />
</div>

<div>
    <a class="btn btn-secondary" href="/Movies/Edit/@Model.Movie.Id?sort=@Model.Sort&desc=@Model.Desc&search=@Model.Search">Edit</a>
    <a class="btn btn-primary" href="/Home?sort=@Model.Sort&desc=@Model.Desc&search=@Model.Search">Back to List</a>
